<div class="row">

  <div class="col-sm-12">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="col-sm-12" align="center">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="titulo perfiles animated bounceIn">Transferencias</h1>
      </div>
    <br>
    <p class="h1 " align="center">Perfil</p>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 align="center">Usuario</h2>
        <div class="card">
          <div class="card-header">
            Nombre Usuario: carrillojorge1395@hotmail.com
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <img class="img-fluid" src="https://scontent.fatf1-1.fna.fbcdn.net/v/t1.0-1/c103.162.798.798/s160x160/22450089_1683263338414707_7308469490707432768_n.jpg?_nc_cat=0&oh=233858193fdd25b58e9e38b19866d4aa&oe=5BE3A17E" alt="No disponible">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
